@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --dark: #000000;
    --light: #ffffff;
    --gray: #676767;
    --light-shade: #f0f0f0;
    --primary:#6A51D6;
  }


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main{
    background: var(--light-shade);
    padding: 5rem;
}


section{
    padding-bottom:10vh;
}


h1 {
    margin:0 auto;
    font-size: 6rem;
    font-weight: 800;
    color: var(--light);
    width:60%;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom:5vh;
}

h3{
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom:2vh;
}

h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin:1vh 0;
}

p{
    color: var(--gray);
    line-height: 1.5;
}

/* Hero-Sec */

.hero-sec{
    min-height: 100vh;
    background: var(--primary);
    display:flex;
    align-items: center;
    text-align: center;
}

/* Special-Sec */

.special-sec article{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.special-sec div {
    margin-left:5rem;
}

.special-sec p{
    font-size: 1.5rem;
    font-weight: 300;
}

/* News-Sec */



.news {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem;
}

.news figure {
    background: var(--light); 
    padding:.8rem;  
    border-radius: 6px;
}
.news img{
    width:100%;
}

.news-topic{
    margin-top:.5vh;
    color:var(--primary);
    text-transform: uppercase;
    font-weight: 600;
}

.news p{
    font-weight: 400;
    padding-right:.8rem;
}

/* Employees-Sec */

.employees {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
    text-align:center;
}

.employees figure {
    margin-bottom:3vh;
}

.employees figcaption p:first-of-type {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 500;
}

.employees img{
    border-radius:50%;
    border:10px solid var(--light);
}

/* Media Queries */


@media only screen and (min-width: 1588px) {
    main{
        padding: 5rem 15rem ;
    }

    .news p{
        padding-right:0;
    }
    }


@media only screen and (max-width: 1195px) {

    .hero-sec {
        min-height: 80vh;
        }
    .special-sec img {
        width:70%;
    }

    h1 {
        font-size: 5rem;
    }

    .special-sec article{
        display:flex;
        flex-direction:column;
    }

    .special-sec div {
        margin:8vh 5rem 0 0;
    }

    .employees img{
        width:80%;
    }

    .employees figcaption p:first-of-type {
        font-size: 1.25rem;
    }
        }

@media only screen and (max-width: 889px) {

    .hero-sec {
        min-height: 60vh;
    }

    h1 {
        font-size: 3.5rem;
    }

    .special-sec div {
        margin: 5vh 0 0;
    }

    .news {
        display:grid;
        grid-template-columns: 1fr;
    }

    main{
        padding: 5rem 6.5rem ;
    }

    .employees img{
        width:50%;
    }

    .employees figcaption p:first-of-type {
        font-size: 1.5rem;
    }

    .scrollSnap {
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        display:flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .scrollSnap > figure {
        scroll-snap-align: start;
        min-width: 100%;
    }

    }


@media only screen and (max-width: 600px) {

    main{
            padding: 5rem 3rem ;
        }   

    section{
        padding-bottom:5vh;
    }
    
    h1 {
        font-size: 2.75rem;
        }
        
    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.25rem;
    }

    h4{
        font-size: 1.1rem;
    }

    .special-sec p{
        font-size: 1rem;
    }

    .news p{
        font-size: .8rem;
    }
    
    }
    
